#product-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#product-list .short-product{
    margin: 0.6em;
    padding: 1em;
    background-color: rgb(175, 175, 175);
    max-width: 35em;
}
#product-list .short-product .name {
    font-weight: bold;
    margin: 0;
}
#product-list .short-product .name a {
    color: var(--primary-color);
}
#product-list .short-product p {
    padding-left: 0.5em;
}
#product-list .short-product .price-and-buy{
    display: flex;
}
#product-list .short-product .price {
    display: inline;
    font-weight: bold;
    margin-right: 1em;
    margin-top: auto;
    margin-bottom: auto;
}
#product-list .short-product .buy{
    margin: 0;
}